*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
!/.idea/codeStyles/
.DS_Store
/build
**/build
/captures
/.kotlin
.externalNativeBuild
.cxx
local.properties
keystore.properties
bytemask.properties
debug.keystore
debug.keystore.b64
bytemask.properties.b64
play_config.json